@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-light: hsl(0, 0%, 98%);
  --clr-light-medium: hsl(0, 0%, 90%);

  --fs-large: 2rem;
}

body,
html {
  font-family: "Roboto";
  margin: 0;
  height: 100%;
  color: var(--clr-light);
}

p,
h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
}

/* Layout */

.content {
  display: grid;
  grid-template-rows: 70px 1fr;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.main {
  --clr-dark: hsla(0, 0%, 20%, 0.8);
  display: grid;
  grid-template-rows: 1fr 50px;
  background-image: url("./img/pizza.jpg");
  background-size: cover;
  background-position: center;
}

main{
    display: grid;
    justify-items: center;
}

footer {
  display: grid;
  place-content: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mainContentDiv{
    display: grid;
    gap: 15px;
    padding: 30px;
    border-radius: 5px;
    width: min(700px, 100% - 1rem);
    margin: 100px 0 auto 0;
}

/* Lists */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  cursor: pointer;
}

li:hover{
  color: var(--clr-light-medium);
}

/* Utility classes */

.bgc-dark {
  background-color: var(--clr-dark);
}

.text-center {
  text-align: center;
}

.fs-large {
  font-size: var(--fs-large);
}
