@import url("https://fonts.googleapis.com/css?family=Roboto");

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-light: hsl(0, 0%, 98%);

  --fs-large: 3rem;
}

body,
html {
  font-family: "Roboto";
  margin: 0;
  height: 100%;
  color: var(--clr-light);
}

p,
h1 {
  margin: 0;
}

a {
  color: inherit;
}

/* Layout */

.content {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100%;
}

header {
  display: grid;
  place-items: center;
}

.main {
  --clr-dark: hsla(0, 0%, 20%, 0.6);
  display: grid;
  grid-template-rows: 1fr 50px;
  background-image: url("./img/pizza.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  display: grid;
  place-content: center;
}

/* Utility classes */

.bgc-dark {
  background-color: var(--clr-dark);
}

.text-center {
  text-align: center;
}

.fs-large {
  font-size: var(--fs-large);
}
